/* This file is for your main application css. */

@import "custom";
@import "~bootstrap/scss/bootstrap";

.font-big {
  font-weight: 500;
  font-size: 20px;
  line-height: 29px;
  font-size: 1.25rem;
  line-height: 1.8125rem;
}

.host-status-header {
  margin-top: 70px;
  margin-bottom: 70px;
}

.host-alert-font {
  margin-bottom: 0;
}